set_location Glue_Lab2.Gl_Op_RNIDA8P[2] 9 14 5 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_Op_RNIDA8P[2]_LC_0)
set_location Glue_Lab2.Gl_Op_RNIFO4V1[0] 9 14 6 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_Op_RNIFO4V1[0]_LC_1)
set_location Glue_Lab2.Gl_Op_RNO[0] 9 13 7 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_Op[0]_LC_2)
set_location Glue_Lab2.Gl_Op[0] 9 13 7 # SB_DFF (LogicCell: Glue_Lab2.Gl_Op[0]_LC_2)
set_location Glue_Lab2.Gl_Op_RNO[1] 9 13 1 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_Op[1]_LC_3)
set_location Glue_Lab2.Gl_Op[1] 9 13 1 # SB_DFF (LogicCell: Glue_Lab2.Gl_Op[1]_LC_3)
set_location Glue_Lab2.Gl_Op_RNO[2] 9 13 3 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_Op[2]_LC_4)
set_location Glue_Lab2.Gl_Op[2] 9 13 3 # SB_DFF (LogicCell: Glue_Lab2.Gl_Op[2]_LC_4)
set_location Glue_Lab2.Gl_Op_RNO[3] 9 13 6 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_Op[3]_LC_5)
set_location Glue_Lab2.Gl_Op[3] 9 13 6 # SB_DFF (LogicCell: Glue_Lab2.Gl_Op[3]_LC_5)
set_location Glue_Lab2.Gl_Op_RNO[5] 9 13 4 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_Op[5]_LC_6)
set_location Glue_Lab2.Gl_Op[5] 9 13 4 # SB_DFF (LogicCell: Glue_Lab2.Gl_Op[5]_LC_6)
set_location Glue_Lab2.Gl_rst_RNI6AQG 7 16 0 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r2_fast[0]_LC_7)
set_location Glue_Lab2.Gl_r2_fast[0] 7 16 0 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r2_fast[0]_LC_7)
set_location Glue_Lab2.Gl_rst_RNI7BQG 9 13 0 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_rst_RNI7BQG_LC_8)
set_location Glue_Lab2.Gl_rst_RNI8CQG 9 13 2 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_rst_RNI8CQG_LC_9)
set_location Glue_Lab2.Gl_rst_RNI9DQG 7 16 3 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r2[3]_LC_10)
set_location Glue_Lab2.Gl_r2[3] 7 16 3 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r2[3]_LC_10)
set_location Glue_Lab2.Gl_rst_RNO 7 12 7 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_rst_LC_11)
set_location Glue_Lab2.Gl_rst 7 12 7 # SB_DFF (LogicCell: Glue_Lab2.Gl_rst_LC_11)
set_location Glue_Lab2.Gl_tx_data_RNO[0] 7 12 5 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_tx_data[0]_LC_12)
set_location Glue_Lab2.Gl_tx_data[0] 7 12 5 # SB_DFF (LogicCell: Glue_Lab2.Gl_tx_data[0]_LC_12)
set_location Glue_Lab2.Gl_tx_data_RNO_0[5] 11 13 1 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_tx_data_RNO_0[5]_LC_13)
set_location Glue_Lab2.Gl_tx_data_RNO[1] 9 15 7 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_tx_data[1]_LC_14)
set_location Glue_Lab2.Gl_tx_data[1] 9 15 7 # SB_DFF (LogicCell: Glue_Lab2.Gl_tx_data[1]_LC_14)
set_location Glue_Lab2.Gl_tx_data_RNO_1[5] 11 13 0 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_tx_data_RNO_1[5]_LC_15)
set_location Glue_Lab2.Gl_tx_data_RNO[2] 9 14 0 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_tx_data[2]_LC_16)
set_location Glue_Lab2.Gl_tx_data[2] 9 14 0 # SB_DFF (LogicCell: Glue_Lab2.Gl_tx_data[2]_LC_16)
set_location Glue_Lab2.Gl_tx_data_RNO[3] 7 13 2 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_tx_data[3]_LC_17)
set_location Glue_Lab2.Gl_tx_data[3] 7 13 2 # SB_DFF (LogicCell: Glue_Lab2.Gl_tx_data[3]_LC_17)
set_location Glue_Lab2.Gl_tx_data_RNO[4] 8 12 5 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_tx_data[4]_LC_18)
set_location Glue_Lab2.Gl_tx_data[4] 8 12 5 # SB_DFF (LogicCell: Glue_Lab2.Gl_tx_data[4]_LC_18)
set_location Glue_Lab2.Gl_tx_data_RNO[5] 7 13 6 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_tx_data[5]_LC_19)
set_location Glue_Lab2.Gl_tx_data[5] 7 13 6 # SB_DFF (LogicCell: Glue_Lab2.Gl_tx_data[5]_LC_19)
set_location Glue_Lab2.Gl_tx_data_RNO[6] 8 13 4 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_tx_data[6]_LC_20)
set_location Glue_Lab2.Gl_tx_data[6] 8 13 4 # SB_DFF (LogicCell: Glue_Lab2.Gl_tx_data[6]_LC_20)
set_location Glue_Lab2.Gl_tx_data_rdy_RNI0TA5 12 10 1 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[8]_LC_21)
set_location buart.Z_tx.shifter[8] 12 10 1 # SB_DFFE (LogicCell: buart.Z_tx.shifter[8]_LC_21)
set_location Glue_Lab2.Gl_tx_data_rdy_RNO 11 10 4 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_tx_data_rdy_LC_22)
set_location Glue_Lab2.Gl_tx_data_rdy 11 10 4 # SB_DFF (LogicCell: Glue_Lab2.Gl_tx_data_rdy_LC_22)
set_location Glue_Lab2.de0.de_esc 8 11 7 # SB_LUT4 (LogicCell: Glue_Lab2.de0.de_esc_LC_23)
set_location Glue_Lab2.de0.de_esc_3 9 12 2 # SB_LUT4 (LogicCell: Glue_Lab2.de0.de_esc_3_LC_24)
set_location Glue_Lab2.de0.de_esc_4 11 11 0 # SB_LUT4 (LogicCell: Glue_Lab2.de0.de_esc_4_LC_25)
set_location Glue_Lab2.de0.de_hexplus 8 12 4 # SB_LUT4 (LogicCell: Glue_Lab2.de0.de_hexplus_LC_26)
set_location Glue_Lab2.de0.g0 8 9 0 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_LC_27)
set_location Glue_Lab2.de0.g0_0 8 9 5 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_0_LC_28)
set_location Glue_Lab2.de0.g0_1 9 12 0 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_1_LC_29)
set_location Glue_Lab2.de0.g0_10 11 11 1 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_10_LC_30)
set_location Glue_Lab2.de0.g0_11 8 11 3 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_11_LC_31)
set_location Glue_Lab2.de0.g0_12 8 9 6 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_12_LC_32)
set_location Glue_Lab2.de0.g0_13 9 11 0 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_13_LC_33)
set_location Glue_Lab2.de0.g0_14 8 11 2 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_14_LC_34)
set_location Glue_Lab2.de0.g0_2 8 10 6 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_2_LC_35)
set_location Glue_Lab2.de0.g0_3 11 11 2 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_3_LC_36)
set_location Glue_Lab2.de0.g0_4 8 9 3 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_4_LC_37)
set_location Glue_Lab2.de0.g0_5 11 11 5 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_5_LC_38)
set_location Glue_Lab2.de0.g0_6 12 12 5 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_6_LC_39)
set_location Glue_Lab2.de0.g0_7 8 11 1 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_7_LC_40)
set_location Glue_Lab2.de0.g0_8 12 11 1 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_8_LC_41)
set_location Glue_Lab2.de0.g0_9 11 11 6 # SB_LUT4 (LogicCell: Glue_Lab2.de0.g0_9_LC_42)
set_location Glue_Lab2.de0.un1_charData 9 11 4 # SB_LUT4 (LogicCell: Glue_Lab2.de0.un1_charData_LC_43)
set_location Glue_Lab2.de0.un2_de_hexplus_2 9 11 2 # SB_LUT4 (LogicCell: Glue_Lab2.de0.un2_de_hexplus_2_LC_44)
set_location Glue_Lab2.de0.un2_de_hexplus_3_ns 8 12 3 # SB_LUT4 (LogicCell: Glue_Lab2.de0.un2_de_hexplus_3_ns_LC_45)
set_location Glue_Lab2.de0.un2_de_hexplus_3_x0 8 12 2 # SB_LUT4 (LogicCell: Glue_Lab2.de0.un2_de_hexplus_3_x0_LC_46)
set_location Glue_Lab2.gl_fsm.enOp_0_a2_4 9 11 7 # SB_LUT4 (LogicCell: Glue_Lab2.gl_fsm.enOp_0_a2_4_LC_47)
set_location Glue_Lab2.gl_fsm.state_RNIDFRT[0] 8 12 7 # SB_LUT4 (LogicCell: Glue_Lab2.gl_fsm.state_RNIDFRT[0]_LC_48)
set_location Glue_Lab2.gl_fsm.state_RNIIM7B[1] 9 14 3 # SB_LUT4 (LogicCell: Glue_Lab2.gl_fsm.state_RNIIM7B[1]_LC_49)
set_location Glue_Lab2.gl_fsm.state_RNIQ3DV3[0] 9 12 7 # SB_LUT4 (LogicCell: Glue_Lab2.gl_fsm.state_RNIQ3DV3[0]_LC_50)
set_location Glue_Lab2.gl_fsm.state_RNITO9T5[0] 7 15 3 # SB_LUT4 (LogicCell: Glue_Lab2.gl_fsm.state_RNITO9T5[0]_LC_51)
set_location Glue_Lab2.gl_fsm.state_RNITO9T5_0[0] 7 15 6 # SB_LUT4 (LogicCell: Glue_Lab2.gl_fsm.state_RNITO9T5_0[0]_LC_52)
set_location Glue_Lab2.gl_fsm.state_RNO[0] 8 13 2 # SB_LUT4 (LogicCell: Glue_Lab2.gl_fsm.state[0]_LC_53)
set_location Glue_Lab2.gl_fsm.state[0] 8 13 2 # SB_DFF (LogicCell: Glue_Lab2.gl_fsm.state[0]_LC_53)
set_location Glue_Lab2.gl_fsm.state_RNO[1] 8 13 0 # SB_LUT4 (LogicCell: Glue_Lab2.gl_fsm.state[1]_LC_54)
set_location Glue_Lab2.gl_fsm.state[1] 8 13 0 # SB_DFF (LogicCell: Glue_Lab2.gl_fsm.state[1]_LC_54)
set_location Glue_Lab2.gl_fsm.state_ns_1_0_.m1 8 13 1 # SB_LUT4 (LogicCell: Glue_Lab2.gl_fsm.state_ns_1_0_.m1_LC_55)
set_location Glue_Lab2.reset_count_RNO[0] 7 11 7 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count[0]_LC_56)
set_location Glue_Lab2.reset_count[0] 7 11 7 # SB_DFF (LogicCell: Glue_Lab2.reset_count[0]_LC_56)
set_location Glue_Lab2.reset_count_RNO_0[0] 8 11 4 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count_RNO_0[0]_LC_57)
set_location Glue_Lab2.reset_count_RNO_0[1] 11 11 3 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count_RNO_0[1]_LC_58)
set_location Glue_Lab2.reset_count_RNO_0[2] 8 9 1 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count_RNO_0[2]_LC_59)
set_location Glue_Lab2.reset_count_RNO_0[3] 11 11 7 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count_RNO_0[3]_LC_60)
set_location Glue_Lab2.reset_count_RNO[1] 7 11 1 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count[1]_LC_61)
set_location Glue_Lab2.reset_count[1] 7 11 1 # SB_DFF (LogicCell: Glue_Lab2.reset_count[1]_LC_61)
set_location Glue_Lab2.reset_count_RNO[2] 7 9 1 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count[2]_LC_62)
set_location Glue_Lab2.reset_count[2] 7 9 1 # SB_DFF (LogicCell: Glue_Lab2.reset_count[2]_LC_62)
set_location Glue_Lab2.reset_count_RNO[3] 7 11 0 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count[3]_LC_63)
set_location Glue_Lab2.reset_count[3] 7 11 0 # SB_DFF (LogicCell: Glue_Lab2.reset_count[3]_LC_63)
set_location Glue_Lab2.reset_count_RNO[4] 6 11 4 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count[4]_LC_64)
set_location Glue_Lab2.reset_count[4] 6 11 4 # SB_DFF (LogicCell: Glue_Lab2.reset_count[4]_LC_64)
set_location Lab_UT.L2_led_1[4] 11 13 7 # SB_LUT4 (LogicCell: Lab_UT.L2_led_1[4]_LC_65)
set_location Lab_UT.S_0_s_ac0_5_0_0 11 13 3 # SB_LUT4 (LogicCell: Lab_UT.S_0_s_ac0_5_0_0_LC_66)
set_location Lab_UT.S_0_s_ac0_5_d 9 15 0 # SB_LUT4 (LogicCell: Lab_UT.S_0_s_ac0_5_d_LC_67)
set_location Lab_UT.S_0_s_axb3 7 15 0 # SB_LUT4 (LogicCell: Lab_UT.S_0_s_axb3_LC_68)
set_location Lab_UT.S_0_s_c2 7 15 7 # SB_LUT4 (LogicCell: Lab_UT.S_0_s_c2_LC_69)
set_location Lab_UT.S_1_ac0_1_0 8 14 2 # SB_LUT4 (LogicCell: Lab_UT.S_1_ac0_1_0_LC_70)
set_location Lab_UT.S_1_ac0_1_0_0 8 14 0 # SB_LUT4 (LogicCell: Lab_UT.S_1_ac0_1_0_0_LC_71)
set_location Lab_UT.S_1_axb1 8 14 1 # SB_LUT4 (LogicCell: Lab_UT.S_1_axb1_LC_72)
set_location Lab_UT.S_1_c3_c 11 13 5 # SB_LUT4 (LogicCell: Lab_UT.S_1_c3_c_LC_73)
set_location Lab_UT.S_1_c4 11 13 6 # SB_LUT4 (LogicCell: Lab_UT.S_1_c4_LC_74)
set_location Lab_UT.S_m[0] 8 13 7 # SB_LUT4 (LogicCell: Lab_UT.S_m[0]_LC_75)
set_location Lab_UT.S_m_am[1] 8 14 3 # SB_LUT4 (LogicCell: Lab_UT.S_m_am[1]_LC_76)
set_location Lab_UT.S_m_am[2] 9 15 3 # SB_LUT4 (LogicCell: Lab_UT.S_m_am[2]_LC_77)
set_location Lab_UT.S_m_am[3] 7 15 1 # SB_LUT4 (LogicCell: Lab_UT.S_m_am[3]_LC_78)
set_location Lab_UT.S_m_bm[1] 9 15 5 # SB_LUT4 (LogicCell: Lab_UT.S_m_bm[1]_LC_79)
set_location Lab_UT.S_m_bm_1[2] 8 15 0 # SB_LUT4 (LogicCell: Lab_UT.S_m_bm_1[2]_LC_80)
set_location Lab_UT.S_m_bm[2] 9 16 1 # SB_LUT4 (LogicCell: Lab_UT.S_m_bm[2]_LC_81)
set_location Lab_UT.S_m_bm[3] 7 13 0 # SB_LUT4 (LogicCell: Lab_UT.S_m_bm[3]_LC_82)
set_location Lab_UT.S_m_bm_N_2L1 8 13 6 # SB_LUT4 (LogicCell: Lab_UT.S_m_bm_N_2L1_LC_83)
set_location Lab_UT.S_m_bm_N_3L3 7 13 3 # SB_LUT4 (LogicCell: Lab_UT.S_m_bm_N_3L3_LC_84)
set_location Lab_UT.S_m_bm_N_5L7 8 15 3 # SB_LUT4 (LogicCell: Lab_UT.S_m_bm_N_5L7_LC_85)
set_location Lab_UT.S_m_bm_N_6L10 7 15 5 # SB_LUT4 (LogicCell: Lab_UT.S_m_bm_N_6L10_LC_86)
set_location Lab_UT.S_m_ns[1] 9 15 6 # SB_LUT4 (LogicCell: Lab_UT.S_m_ns[1]_LC_87)
set_location Lab_UT.S_m_ns[2] 9 15 4 # SB_LUT4 (LogicCell: Lab_UT.S_m_ns[2]_LC_88)
set_location Lab_UT.S_m_ns[3] 7 13 1 # SB_LUT4 (LogicCell: Lab_UT.S_m_ns[3]_LC_89)
set_location Lab_UT.g0 8 13 3 # SB_LUT4 (LogicCell: Lab_UT.g0_LC_90)
set_location Lab_UT.g0_0 7 14 3 # SB_LUT4 (LogicCell: Lab_UT.g0_0_LC_91)
set_location Lab_UT.g0_0_a3 7 13 7 # SB_LUT4 (LogicCell: Lab_UT.g0_0_a3_LC_92)
set_location Lab_UT.g0_0_a3_0 7 14 5 # SB_LUT4 (LogicCell: Lab_UT.g0_0_a3_0_LC_93)
set_location Lab_UT.g0_0_a3_0_0 7 14 2 # SB_LUT4 (LogicCell: Lab_UT.g0_0_a3_0_0_LC_94)
set_location Lab_UT.g0_0_a3_0_1 7 13 4 # SB_LUT4 (LogicCell: Lab_UT.g0_0_a3_0_1_LC_95)
set_location Lab_UT.g0_1 7 13 5 # SB_LUT4 (LogicCell: Lab_UT.g0_1_LC_96)
set_location Lab_UT.g0_1_0 7 14 4 # SB_LUT4 (LogicCell: Lab_UT.g0_1_0_LC_97)
set_location Lab_UT.g0_1_1 8 16 0 # SB_LUT4 (LogicCell: Lab_UT.g0_1_1_LC_98)
set_location Lab_UT.g0_1_2 9 13 5 # SB_LUT4 (LogicCell: Lab_UT.g0_1_2_LC_99)
set_location Lab_UT.g0_2 8 16 3 # SB_LUT4 (LogicCell: Lab_UT.g0_2_LC_100)
set_location Lab_UT.g0_3 7 14 7 # SB_LUT4 (LogicCell: Lab_UT.g0_3_LC_101)
set_location Lab_UT.g0_4 8 15 7 # SB_LUT4 (LogicCell: Lab_UT.g0_4_LC_102)
set_location Lab_UT.g0_4_0 8 15 5 # SB_LUT4 (LogicCell: Lab_UT.g0_4_0_LC_103)
set_location Lab_UT.g0_4_1 7 15 4 # SB_LUT4 (LogicCell: Lab_UT.g0_4_1_LC_104)
set_location Lab_UT.g0_7 8 14 6 # SB_LUT4 (LogicCell: Lab_UT.g0_7_LC_105)
set_location Lab_UT.g1 8 14 7 # SB_LUT4 (LogicCell: Lab_UT.g1_LC_106)
set_location Lab_UT.g1_0 8 14 5 # SB_LUT4 (LogicCell: Lab_UT.g1_0_LC_107)
set_location Lab_UT.g1_1 8 16 4 # SB_LUT4 (LogicCell: Lab_UT.g1_1_LC_108)
set_location Lab_UT.g1_2 7 15 2 # SB_LUT4 (LogicCell: Lab_UT.g1_2_LC_109)
set_location Lab_UT.sDelay.delayReg_RNO[0] 7 12 4 # SB_LUT4 (LogicCell: Lab_UT.sDelay.delayReg[0]_LC_110)
set_location Lab_UT.sDelay.delayReg[0] 7 12 4 # SB_DFF (LogicCell: Lab_UT.sDelay.delayReg[0]_LC_110)
set_location Lab_UT.sDelay.delayReg_RNO[1] 7 12 1 # SB_LUT4 (LogicCell: Lab_UT.sDelay.delayReg[1]_LC_111)
set_location Lab_UT.sDelay.delayReg[1] 7 12 1 # SB_DFF (LogicCell: Lab_UT.sDelay.delayReg[1]_LC_111)
set_location Lab_UT.sDelay.delayReg_RNO[2] 12 12 6 # SB_LUT4 (LogicCell: Lab_UT.sDelay.delayReg[2]_LC_112)
set_location Lab_UT.sDelay.delayReg[2] 12 12 6 # SB_DFF (LogicCell: Lab_UT.sDelay.delayReg[2]_LC_112)
set_location Lab_UT.sDelay.delayReg_RNO[3] 12 12 0 # SB_LUT4 (LogicCell: Lab_UT.sDelay.delayReg[3]_LC_113)
set_location Lab_UT.sDelay.delayReg[3] 12 12 0 # SB_DFF (LogicCell: Lab_UT.sDelay.delayReg[3]_LC_113)
set_location Lab_UT.sDelay.delayReg_RNO[4] 12 12 7 # SB_LUT4 (LogicCell: Lab_UT.sDelay.delayReg[4]_LC_114)
set_location Lab_UT.sDelay.delayReg[4] 12 12 7 # SB_DFF (LogicCell: Lab_UT.sDelay.delayReg[4]_LC_114)
set_location buart.Z_rx.Z_baudgen.counter_RNI6KE3[5] 8 12 0 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter_RNI6KE3[5]_LC_115)
set_location buart.Z_rx.Z_baudgen.counter_RNIT3N1[1] 7 11 5 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter_RNIT3N1[1]_LC_116)
set_location buart.Z_rx.Z_baudgen.counter_RNO[0] 6 11 5 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[0]_LC_117)
set_location buart.Z_rx.Z_baudgen.counter[0] 6 11 5 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[0]_LC_117)
set_location buart.Z_rx.Z_baudgen.counter_RNO_0[4] 7 11 6 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter_RNO_0[4]_LC_118)
set_location buart.Z_rx.Z_baudgen.counter_RNO_0[5] 7 11 2 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter_RNO_0[5]_LC_119)
set_location buart.Z_rx.Z_baudgen.counter_RNO[1] 8 10 7 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[1]_LC_120)
set_location buart.Z_rx.Z_baudgen.counter[1] 8 10 7 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[1]_LC_120)
set_location buart.Z_rx.Z_baudgen.counter_RNO_1[5] 7 11 4 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter_RNO_1[5]_LC_121)
set_location buart.Z_rx.Z_baudgen.counter_RNO[2] 8 12 6 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[2]_LC_122)
set_location buart.Z_rx.Z_baudgen.counter[2] 8 12 6 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[2]_LC_122)
set_location buart.Z_rx.Z_baudgen.counter_RNO[3] 7 12 3 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[3]_LC_123)
set_location buart.Z_rx.Z_baudgen.counter[3] 7 12 3 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[3]_LC_123)
set_location buart.Z_rx.Z_baudgen.counter_RNO[4] 7 12 2 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[4]_LC_124)
set_location buart.Z_rx.Z_baudgen.counter[4] 7 12 2 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[4]_LC_124)
set_location buart.Z_rx.Z_baudgen.counter_RNO[5] 7 11 3 # SB_LUT4 (LogicCell: buart.Z_rx.Z_baudgen.counter[5]_LC_125)
set_location buart.Z_rx.Z_baudgen.counter[5] 7 11 3 # SB_DFF (LogicCell: buart.Z_rx.Z_baudgen.counter[5]_LC_125)
set_location buart.Z_rx.bitcount_RNI9F1H1[0] 8 11 6 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNI9F1H1[0]_LC_126)
set_location buart.Z_rx.bitcount_RNI9F1H1_0[0] 9 10 3 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNI9F1H1_0[0]_LC_127)
set_location buart.Z_rx.bitcount_RNIC77M1[0] 8 12 1 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNIC77M1[0]_LC_128)
set_location buart.Z_rx.bitcount_RNIIU223[0] 8 10 4 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNIIU223[0]_LC_129)
set_location buart.Z_rx.bitcount_RNILM873[0] 8 10 2 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNILM873[0]_LC_130)
set_location buart.Z_rx.bitcount_RNIMK771_0[4] 8 11 5 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNIMK771_0[4]_LC_131)
set_location buart.Z_rx.bitcount_RNIMK771_1[4] 8 11 0 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNIMK771_1[4]_LC_132)
set_location buart.Z_rx.bitcount_RNIMK771[4] 9 10 2 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNIMK771[4]_LC_133)
set_location buart.Z_rx.bitcount_RNO[0] 8 10 3 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount[0]_LC_134)
set_location buart.Z_rx.bitcount[0] 8 10 3 # SB_DFF (LogicCell: buart.Z_rx.bitcount[0]_LC_134)
set_location buart.Z_rx.bitcount_RNO_0[0] 8 10 5 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNO_0[0]_LC_135)
set_location buart.Z_rx.bitcount_RNO_0[1] 9 9 7 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNO_0[1]_LC_136)
set_location buart.Z_rx.bitcount_RNO_0[2] 9 10 6 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNO_0[2]_LC_137)
set_location buart.Z_rx.bitcount_RNO_0[3] 9 10 0 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNO_0[3]_LC_138)
set_location buart.Z_rx.bitcount_RNO_0[4] 9 9 4 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_RNO_0[4]_LC_139)
set_location buart.Z_rx.bitcount_RNO[1] 9 10 5 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount[1]_LC_140)
set_location buart.Z_rx.bitcount[1] 9 10 5 # SB_DFF (LogicCell: buart.Z_rx.bitcount[1]_LC_140)
set_location buart.Z_rx.bitcount_RNO[2] 9 10 7 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount[2]_LC_141)
set_location buart.Z_rx.bitcount[2] 9 10 7 # SB_DFF (LogicCell: buart.Z_rx.bitcount[2]_LC_141)
set_location buart.Z_rx.bitcount_RNO[3] 9 10 1 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount[3]_LC_142)
set_location buart.Z_rx.bitcount[3] 9 10 1 # SB_DFF (LogicCell: buart.Z_rx.bitcount[3]_LC_142)
set_location buart.Z_rx.bitcount_RNO[4] 8 10 1 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount[4]_LC_143)
set_location buart.Z_rx.bitcount[4] 8 10 1 # SB_DFF (LogicCell: buart.Z_rx.bitcount[4]_LC_143)
set_location buart.Z_rx.hh_RNI065O1[0] 9 10 4 # SB_LUT4 (LogicCell: buart.Z_rx.hh_RNI065O1[0]_LC_144)
set_location buart.Z_tx.Z_baudgen.counter_RNI1O14[1] 11 7 0 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNI1O14[1]_LC_145)
set_location buart.Z_tx.Z_baudgen.counter_RNI5M6E[6] 11 8 7 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNI5M6E[6]_LC_146)
set_location buart.Z_tx.Z_baudgen.counter_RNIES38_0[4] 11 8 5 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNIES38_0[4]_LC_147)
set_location buart.Z_tx.Z_baudgen.counter_RNIES38[4] 11 8 6 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNIES38[4]_LC_148)
set_location buart.Z_tx.Z_baudgen.counter_RNINP26[6] 11 8 3 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNINP26[6]_LC_149)
set_location buart.Z_tx.Z_baudgen.counter_RNIQJ4A[4] 11 8 1 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNIQJ4A[4]_LC_150)
set_location buart.Z_tx.Z_baudgen.counter_RNIVE1P1[4] 11 9 1 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter_RNIVE1P1[4]_LC_151)
set_location buart.Z_tx.Z_baudgen.counter_RNO[0] 11 7 1 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[0]_LC_152)
set_location buart.Z_tx.Z_baudgen.counter[0] 11 7 1 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[0]_LC_152)
set_location buart.Z_tx.Z_baudgen.counter_RNO[1] 11 7 7 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[1]_LC_153)
set_location buart.Z_tx.Z_baudgen.counter[1] 11 7 7 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[1]_LC_153)
set_location buart.Z_tx.Z_baudgen.counter_RNO[2] 12 8 0 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[2]_LC_154)
set_location buart.Z_tx.Z_baudgen.counter[2] 12 8 0 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[2]_LC_154)
set_location buart.Z_tx.Z_baudgen.counter_RNO[3] 12 8 1 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[3]_LC_155)
set_location buart.Z_tx.Z_baudgen.counter[3] 12 8 1 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[3]_LC_155)
set_location buart.Z_tx.Z_baudgen.counter_RNO[4] 11 8 0 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[4]_LC_156)
set_location buart.Z_tx.Z_baudgen.counter[4] 11 8 0 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[4]_LC_156)
set_location buart.Z_tx.Z_baudgen.counter_RNO[5] 11 8 2 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[5]_LC_157)
set_location buart.Z_tx.Z_baudgen.counter[5] 11 8 2 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[5]_LC_157)
set_location buart.Z_tx.Z_baudgen.counter_RNO[6] 11 8 4 # SB_LUT4 (LogicCell: buart.Z_tx.Z_baudgen.counter[6]_LC_158)
set_location buart.Z_tx.Z_baudgen.counter[6] 11 8 4 # SB_DFF (LogicCell: buart.Z_tx.Z_baudgen.counter[6]_LC_158)
set_location buart.Z_tx.bitcount_RNIBADL[1] 11 9 0 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNIBADL[1]_LC_159)
set_location buart.Z_tx.bitcount_RNIFEDL[3] 11 9 4 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNIFEDL[3]_LC_160)
set_location buart.Z_tx.bitcount_RNIQL5G1[1] 11 9 5 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNIQL5G1[1]_LC_161)
set_location buart.Z_tx.bitcount_RNIV8N32[1] 11 10 2 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNIV8N32[1]_LC_162)
set_location buart.Z_tx.bitcount_RNO[0] 11 10 7 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[0]_LC_163)
set_location buart.Z_tx.bitcount[0] 11 10 7 # SB_DFF (LogicCell: buart.Z_tx.bitcount[0]_LC_163)
set_location buart.Z_tx.bitcount_RNO_0[1] 11 10 5 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNO_0[1]_LC_164)
set_location buart.Z_tx.bitcount_RNO_0[2] 11 9 3 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNO_0[2]_LC_165)
set_location buart.Z_tx.bitcount_RNO_0[3] 11 9 6 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount_RNO_0[3]_LC_166)
set_location buart.Z_tx.bitcount_RNO[1] 11 10 6 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[1]_LC_167)
set_location buart.Z_tx.bitcount[1] 11 10 6 # SB_DFF (LogicCell: buart.Z_tx.bitcount[1]_LC_167)
set_location buart.Z_tx.bitcount_RNO[2] 11 9 2 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[2]_LC_168)
set_location buart.Z_tx.bitcount[2] 11 9 2 # SB_DFF (LogicCell: buart.Z_tx.bitcount[2]_LC_168)
set_location buart.Z_tx.bitcount_RNO[3] 11 9 7 # SB_LUT4 (LogicCell: buart.Z_tx.bitcount[3]_LC_169)
set_location buart.Z_tx.bitcount[3] 11 9 7 # SB_DFF (LogicCell: buart.Z_tx.bitcount[3]_LC_169)
set_location buart.Z_tx.shifter_RNO[0] 7 10 1 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[0]_LC_170)
set_location buart.Z_tx.shifter[0] 7 10 1 # SB_DFFE (LogicCell: buart.Z_tx.shifter[0]_LC_170)
set_location buart.Z_tx.shifter_RNO[1] 7 10 0 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[1]_LC_171)
set_location buart.Z_tx.shifter[1] 7 10 0 # SB_DFFE (LogicCell: buart.Z_tx.shifter[1]_LC_171)
set_location buart.Z_tx.shifter_RNO[2] 7 10 3 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[2]_LC_172)
set_location buart.Z_tx.shifter[2] 7 10 3 # SB_DFFE (LogicCell: buart.Z_tx.shifter[2]_LC_172)
set_location buart.Z_tx.shifter_RNO[3] 7 10 4 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[3]_LC_173)
set_location buart.Z_tx.shifter[3] 7 10 4 # SB_DFFE (LogicCell: buart.Z_tx.shifter[3]_LC_173)
set_location buart.Z_tx.shifter_RNO[4] 7 10 5 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[4]_LC_174)
set_location buart.Z_tx.shifter[4] 7 10 5 # SB_DFFE (LogicCell: buart.Z_tx.shifter[4]_LC_174)
set_location buart.Z_tx.shifter_RNO[5] 7 10 6 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[5]_LC_175)
set_location buart.Z_tx.shifter[5] 7 10 6 # SB_DFFE (LogicCell: buart.Z_tx.shifter[5]_LC_175)
set_location buart.Z_tx.shifter_RNO[6] 7 10 7 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[6]_LC_176)
set_location buart.Z_tx.shifter[6] 7 10 7 # SB_DFFE (LogicCell: buart.Z_tx.shifter[6]_LC_176)
set_location buart.Z_tx.shifter_RNO[7] 7 10 2 # SB_LUT4 (LogicCell: buart.Z_tx.shifter[7]_LC_177)
set_location buart.Z_tx.shifter[7] 7 10 2 # SB_DFFE (LogicCell: buart.Z_tx.shifter[7]_LC_177)
set_location buart.Z_tx.uart_tx_RNO 6 10 6 # SB_LUT4 (LogicCell: buart.Z_tx.uart_tx_LC_178)
set_location buart.Z_tx.uart_tx 6 10 6 # SB_DFFE (LogicCell: buart.Z_tx.uart_tx_LC_178)
set_location Glue_Lab2.Gl_rst_RNI6AQG_Glue_Lab2.Gl_r1_0_REP_LUT4_0 8 14 4 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r1[0]_LC_179)
set_location Glue_Lab2.Gl_r1[0] 8 14 4 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r1[0]_LC_179)
set_location Glue_Lab2.Gl_rst_RNI6AQG_Glue_Lab2.Gl_r1_fast_0_REP_LUT4_0 8 15 1 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r1_fast[0]_LC_180)
set_location Glue_Lab2.Gl_r1_fast[0] 8 15 1 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r1_fast[0]_LC_180)
set_location Glue_Lab2.Gl_rst_RNI6AQG_Glue_Lab2.Gl_r2_0_REP_LUT4_0 7 16 5 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r2[0]_LC_181)
set_location Glue_Lab2.Gl_r2[0] 7 16 5 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r2[0]_LC_181)
set_location Glue_Lab2.Gl_rst_RNI7BQG_Glue_Lab2.Gl_r1_1_REP_LUT4_0 7 14 1 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r1[1]_LC_182)
set_location Glue_Lab2.Gl_r1[1] 7 14 1 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r1[1]_LC_182)
set_location Glue_Lab2.Gl_rst_RNI7BQG_Glue_Lab2.Gl_r2_1_REP_LUT4_0 8 16 1 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r2[1]_LC_183)
set_location Glue_Lab2.Gl_r2[1] 8 16 1 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r2[1]_LC_183)
set_location Glue_Lab2.Gl_rst_RNI8CQG_Glue_Lab2.Gl_r1_2_REP_LUT4_0 8 15 6 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r1[2]_LC_184)
set_location Glue_Lab2.Gl_r1[2] 8 15 6 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r1[2]_LC_184)
set_location Glue_Lab2.Gl_rst_RNI8CQG_Glue_Lab2.Gl_r1_2_rep1_REP_LUT4_0 8 15 4 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r1_2_rep1_LC_185)
set_location Glue_Lab2.Gl_r1_2_rep1 8 15 4 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r1_2_rep1_LC_185)
set_location Glue_Lab2.Gl_rst_RNI8CQG_Glue_Lab2.Gl_r1_fast_2_REP_LUT4_0 8 15 2 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r1_fast[2]_LC_186)
set_location Glue_Lab2.Gl_r1_fast[2] 8 15 2 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r1_fast[2]_LC_186)
set_location Glue_Lab2.Gl_rst_RNI8CQG_Glue_Lab2.Gl_r2_2_REP_LUT4_0 8 16 2 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r2[2]_LC_187)
set_location Glue_Lab2.Gl_r2[2] 8 16 2 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r2[2]_LC_187)
set_location Glue_Lab2.Gl_rst_RNI8CQG_Glue_Lab2.Gl_r2_2_rep1_REP_LUT4_0 7 16 2 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r2_2_rep1_LC_188)
set_location Glue_Lab2.Gl_r2_2_rep1 7 16 2 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r2_2_rep1_LC_188)
set_location Glue_Lab2.Gl_rst_RNI8CQG_Glue_Lab2.Gl_r2_fast_2_REP_LUT4_0 7 16 1 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r2_fast[2]_LC_189)
set_location Glue_Lab2.Gl_r2_fast[2] 7 16 1 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r2_fast[2]_LC_189)
set_location Glue_Lab2.Gl_rst_RNI9DQG_Glue_Lab2.Gl_r1_3_REP_LUT4_0 7 14 6 # SB_LUT4 (LogicCell: Glue_Lab2.Gl_r1[3]_LC_190)
set_location Glue_Lab2.Gl_r1[3] 7 14 6 # SB_DFFE (LogicCell: Glue_Lab2.Gl_r1[3]_LC_190)
set_location buart.Z_rx.hh_0_THRU_LUT4_0 5 10 6 # SB_LUT4 (LogicCell: buart.Z_rx.hh[0]_LC_191)
set_location buart.Z_rx.hh[0] 5 10 6 # SB_DFF (LogicCell: buart.Z_rx.hh[0]_LC_191)
set_location buart.Z_rx.hh_1_THRU_LUT4_0 5 10 1 # SB_LUT4 (LogicCell: buart.Z_rx.hh[1]_LC_192)
set_location buart.Z_rx.hh[1] 5 10 1 # SB_DFF (LogicCell: buart.Z_rx.hh[1]_LC_192)
set_location buart.Z_rx.shifter_0_THRU_LUT4_0 9 12 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[0]_LC_193)
set_location buart.Z_rx.shifter[0] 9 12 6 # SB_DFFE (LogicCell: buart.Z_rx.shifter[0]_LC_193)
set_location buart.Z_rx.shifter_1_THRU_LUT4_0 9 12 1 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[1]_LC_194)
set_location buart.Z_rx.shifter[1] 9 12 1 # SB_DFFE (LogicCell: buart.Z_rx.shifter[1]_LC_194)
set_location buart.Z_rx.shifter_2_THRU_LUT4_0 11 12 0 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[2]_LC_195)
set_location buart.Z_rx.shifter[2] 11 12 0 # SB_DFFE (LogicCell: buart.Z_rx.shifter[2]_LC_195)
set_location buart.Z_rx.shifter_3_THRU_LUT4_0 9 11 1 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[3]_LC_196)
set_location buart.Z_rx.shifter[3] 9 11 1 # SB_DFFE (LogicCell: buart.Z_rx.shifter[3]_LC_196)
set_location buart.Z_rx.shifter_4_THRU_LUT4_0 11 11 4 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[4]_LC_197)
set_location buart.Z_rx.shifter[4] 11 11 4 # SB_DFFE (LogicCell: buart.Z_rx.shifter[4]_LC_197)
set_location buart.Z_rx.shifter_5_THRU_LUT4_0 11 12 1 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[5]_LC_198)
set_location buart.Z_rx.shifter[5] 11 12 1 # SB_DFFE (LogicCell: buart.Z_rx.shifter[5]_LC_198)
set_location buart.Z_rx.shifter_6_THRU_LUT4_0 9 11 3 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[6]_LC_199)
set_location buart.Z_rx.shifter[6] 9 11 3 # SB_DFFE (LogicCell: buart.Z_rx.shifter[6]_LC_199)
set_location buart.Z_rx.shifter_7_THRU_LUT4_0 9 11 6 # SB_LUT4 (LogicCell: buart.Z_rx.shifter[7]_LC_200)
set_location buart.Z_rx.shifter[7] 9 11 6 # SB_DFFE (LogicCell: buart.Z_rx.shifter[7]_LC_200)
set_location buart.Z_rx.shifter_fast_4_THRU_LUT4_0 11 12 2 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_fast[4]_LC_201)
set_location buart.Z_rx.shifter_fast[4] 11 12 2 # SB_DFFE (LogicCell: buart.Z_rx.shifter_fast[4]_LC_201)
set_location buart.Z_rx.shifter_fast_5_THRU_LUT4_0 9 11 5 # SB_LUT4 (LogicCell: buart.Z_rx.shifter_fast[5]_LC_202)
set_location buart.Z_rx.shifter_fast[5] 9 11 5 # SB_DFFE (LogicCell: buart.Z_rx.shifter_fast[5]_LC_202)
set_location Glue_Lab2.reset_count_cry_0_THRU_LUT4_0 6 11 1 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count_cry_0_THRU_LUT4_0_LC_203)
set_location Glue_Lab2.reset_count_cry_c[1] 6 11 1 # SB_CARRY (LogicCell: Glue_Lab2.reset_count_cry_0_THRU_LUT4_0_LC_203)
set_location Glue_Lab2.reset_count_cry_1_THRU_LUT4_0 6 11 2 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count_cry_1_THRU_LUT4_0_LC_204)
set_location Glue_Lab2.reset_count_cry_c[2] 6 11 2 # SB_CARRY (LogicCell: Glue_Lab2.reset_count_cry_1_THRU_LUT4_0_LC_204)
set_location Glue_Lab2.reset_count_cry_2_THRU_LUT4_0 6 11 3 # SB_LUT4 (LogicCell: Glue_Lab2.reset_count_cry_2_THRU_LUT4_0_LC_205)
set_location Glue_Lab2.reset_count_cry_c[3] 6 11 3 # SB_CARRY (LogicCell: Glue_Lab2.reset_count_cry_2_THRU_LUT4_0_LC_205)
set_location buart.Z_rx.bitcount_cry_0_THRU_LUT4_0 9 9 1 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_cry_0_THRU_LUT4_0_LC_206)
set_location buart.Z_rx.bitcount_cry_c[1] 9 9 1 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_0_THRU_LUT4_0_LC_206)
set_location buart.Z_rx.bitcount_cry_1_THRU_LUT4_0 9 9 2 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_cry_1_THRU_LUT4_0_LC_207)
set_location buart.Z_rx.bitcount_cry_c[2] 9 9 2 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_1_THRU_LUT4_0_LC_207)
set_location buart.Z_rx.bitcount_cry_2_THRU_LUT4_0 9 9 3 # SB_LUT4 (LogicCell: buart.Z_rx.bitcount_cry_2_THRU_LUT4_0_LC_208)
set_location buart.Z_rx.bitcount_cry_c[3] 9 9 3 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_2_THRU_LUT4_0_LC_208)
set_location Glue_Lab2.reset_count_cry_c[0] 6 11 0 # SB_CARRY (LogicCell: Glue_Lab2.reset_count_cry_c[0]_LC_209)
set_location buart.Z_rx.bitcount_cry_c[0] 9 9 0 # SB_CARRY (LogicCell: buart.Z_rx.bitcount_cry_c[0]_LC_210)
set_location GND -1 -1 -1 # GND
set_io Z_rcxd._io 0 11 1 # ICE_IO
set_io clk_derived_clock_RNI7BQ7 0 9 0 # ICE_GB
set_io clk_in_ibuf 0 8 1 # ICE_IO
set_location ice_pll_inst 6 0 1 # SB_PLL40_CORE
set_io led_obuf[0] 13 12 1 # ICE_IO
set_io led_obuf[1] 13 12 0 # ICE_IO
set_io led_obuf[2] 13 11 1 # ICE_IO
set_io led_obuf[3] 13 11 0 # ICE_IO
set_io led_obuf[4] 13 9 1 # ICE_IO
set_io o_serial_data_obuf 0 12 0 # ICE_IO
set_io sd_obuf 13 15 1 # ICE_IO
set_io test1_obuf 4 0 1 # ICE_IO
set_io test2_obuf 5 0 0 # ICE_IO
set_io test3_obuf 5 0 1 # ICE_IO
set_io to_ir_obuf 13 14 1 # ICE_IO
set_location CONSTANT_ONE_LUT4 7 8 6 # SB_LUT4 (LogicCell: LC_211)
